<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/47d66679-fc63-4dec-baaa-4c8f21e2e81c/resourcegroups/SnowTailsWebMVC_Rg/providers/Microsoft.Web/sites/SnowTailsWebMVCPlan</ResourceId>
    <ResourceGroup>SnowTailsWebMVC_Rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://snowtailswebmvcplan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>snowtailswebmvcplan.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SnowTailsWebMVCPlan</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$SnowTailsWebMVCPlan</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:snowtails-webmvc.database.windows.net,1433;Initial Catalog=SnowTails.WebMVC_db;User ID=Lokeh@snowtails-webmvc;Password=Lokithedog17#" Name="Data Source=tcp:snowtails-webmvc.database.windows.net,1433;Initial Catalog=SnowTails.WebMVC_db;User Id=Lokeh@snowtails-webmvc;Password=Lokithedog17#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SnowTails.Data.ApplicationDbContext, SnowTails.Data" MigrationConfiguration="SnowTails.Data.Migrations.Configuration, SnowTails.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:snowtails-webmvc.database.windows.net,1433;Initial Catalog=SnowTails.WebMVC_db;User Id=Lokeh@snowtails-webmvc;Password=Lokithedog17#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>